<h1>Patient:<%=@patient.name%></h1>

<p>Appointments:</p>
<% @patient.appointments.each do |a| %>
  <%= a.appointment_datetime.strftime('%B %d, %Y at %H:%M') %> <%=link_to a.doctor.name, doctor_path(a.doctor) %><br>
<% end %>
